table.matrix td.mlabel,
table.matrix td.cell {
	width:120px;
	height:50px;
	text-align:center;
	border:3px solid #ffffff;
	padding:1px 3px;
}

table.risks th:first-child {
	width:70px;
}

table.risks th:nth-child(2) {
	width:30%;
}

table.risks div.levelbox {
	width:20px;
	height:20px;
	border-radius:3px;
	display:inline-block;
}

table.matrix td.cell {
	position:relative;
	overflow:hidden;
}

table.matrix td.number {
	cursor:pointer;
}

table.matrix td.cell span {
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:-3px;
	z-index:1;
}

table.matrix td.horizontal {
	text-align:center;
	font-weight:bold;
	padding-bottom:10px;
	height:50px;
}

table.matrix td.vertical div {
	padding-right:50px;
	text-align:center;
	transform:rotate(270deg);
	font-weight:bold;
}

@media (max-width:767px) {
	div.container {
		overflow:hidden;
	}

	table.matrix td.vertical div {
		width:20px;
	}
}

div.background-hack {
	display:none;
	border-width:100px;
	border-style:solid;
	position:absolute;
	top:0;
	left:0;
}

table.risks {
	margin-top:25px;
}

@media print {
	p {
		display:none;
	}

	div.background-hack {
		display:block;
	}

	table.risks {
		display:none;
	}
}
