h2 {
	margin-bottom:15px;
}

img.check {
	width:20px;
	margin-right:5px;
}

@media (min-width:768px) {
	textarea.form-control {
		height:256px;
	}
}
@media (max-width:767px) {
	textarea.form-control {
		height:150px;
	}
}

li.list-group-item div.title {
	cursor:pointer;
}

li.list-group-item span.glyphicon {
	float:right;
	color:#808080;
	margin-left:5px;
}

li.list-group-item div.details {
	margin-top:15px;
	padding-left:15px;
}

li.list-group-item div.details div.btn-group {
	margin-left:-15px;
}

li.list-group-item div.collapsed {
	display:none;
}

li.list-group-item div.details p.description {
    white-space:pre-wrap;
}

li.list-group-item div.details p span.field {
	font-weight:bold;
	margin-right:5px;
}

div.risk {
	white-space:pre-wrap;
}

/* Control standards
 */
div.control_panel {
	background-color:#f4f4ff;
	padding-top:10px;
	border-radius:5px;
	border:1px solid #e4e4f0;
}

div.measure_controls div {
	margin-bottom:15px;
}

div.measure_controls span.control {
	display:none;
}

div.none {
	font-style:italic;
}

/* Print
 */
@media print {
	h1 {
		display:none;
	}

	h2 {
		margin-top:0;
	}

	div.panel-heading {
		font-size:15px;
	}

	li.list-group-item div.details {
		display:block;
		margin-top:5px;
	}

	li.list-group-item div.details p {
		margin-bottom:3px;
	}

	li.list-group-item div.details p.description {
		margin-left:15px;
	}

	@media (max-width:767px) {
		li.list-group-item div.details p.deadline {
			margin-left:350px;
			margin-top:-37px;
		}
		li.list-group-item div.details p.issues {
			margin-left:350px;
		}
	}

	img.check {
		width:10px;
		height:10px;
		position:relative;
		top:-1px;
	}
}
