table.controls th:nth-child(1) {
	width:100px;
}

table.controls th:nth-child(3) {
	width:90px;
}

table.controls tbody td:nth-child(3) {
	text-align:right;
	padding-right:15px;
}

table.controls tr.click {
	cursor:pointer;
}

table.controls tr.click:hover {
	background-color:#f5f5f5;
}

table.controls tr.measures {
	display:none;
}

table.controls td span:after {
	content:"|";
	color:#ff8000;
	font-weight:bold;
	padding:0 10px;
}

table.controls td span:last-child:after {
	content:none;
}

@media print {
	table.controls tr.measures {
		display:table-row;
	}
}
