p.description {
	white-space:pre-wrap;
	line-height:1.7;
}

@media (min-width:768px) {
	p.description {
		column-gap:50px;
		column-rule:1px solid #c0c0c0;
	}
}

span.field {
	font-weight:bold;
	padding-right:5px;
}

table.issues th:nth-child(3),
table.issues th:nth-child(4) {
	width:125px;
}

table.issues th:nth-child(5) {
	width:80px;
}

@media (max-width:767px) {
	table.issues tfoot td:nth-child(-n+4) {
		display:none;
	}
}

textarea.form-control {
	height:200px;
}

textarea.form-control.task {
	height:277px;
}

div.row div {
	margin-bottom:10px;
}

div.row + div.btn-group {
	margin-top:5px;
}

/* Actions
 */
li.list-group-item div.title {
	cursor:pointer;
}

li.list-group-item span.glyphicon {
	float:right;
	color:#808080;
	margin-left:5px;
}

li.list-group-item div.collapsed {
	display:none;
}

li.list-group-item div.details {
	margin-top:15px;
	padding-left:15px;
}

li.list-group-item div.details div.description {
	white-space:pre-wrap;
}

img.check {
	width:20px;
	margin-right:5px;
}

/* Print
 */
@media print {
	li.list-group-item div.collapsed {
		display:block;
	}

	img.check {
		width:10px;
		height:10px;
		position:relative;
		top:-1px;
	}
}
