table.logs tbody tr:hover td:first-child {
	color:#337ab7;
	text-decoration:underline;
}

div.filter {
	margin-top:37px;
	width:350px;
}

@media (min-width:768px) {
	table.logs th:nth-child(2) {
		width:170px;
	}

	table.logs th:nth-child(3) {
		min-width:150px;
	}
}
