table.measures div.levelbox {
	width:20px;
	height:20px;
	border-radius:3px;
}

@media (max-width:767px) {
	table.measures tfoot td:nth-child(-n+6) {
		display:none;
	}
}

@media (min-width:768px) {
	table.measures th:nth-child(1) {
		width:30px;
	}

	div.description {
		column-gap:50px;
		column-rule:1px solid #c0c0c0;
	}
}

div.type {
	float:right;
}

div.description {
	white-space:pre-wrap;
	line-height:1.7;
}

span.field {
	font-weight:bold;
	margin-right:5px;
}

span.category:after {
	content:"|";
	font-weight:bold;
	color:#ff8000;
	padding:0 5px;
}

input[type="checkbox"] {
	margin-right:5px;
}

h2 {
	font-size:20px;
}

table.issues th:nth-child(2) {
	width:120px;
}
table.issues th:nth-child(3) {
	width:150px;
}

div.panel-body > p:last-of-type {
	margin-bottom:0;
}

p + div.row {
	margin-top:10px;
}

@media (min-width:992px) {
	hr.mobile {
		display:none;
	}
}

@media print {
	table.measures th:first-child,
	table.measures td:first-child {
		display:none;
	}

	div.panel-default div.panel-heading {
		font-size:20px;
	}

	h2 {
		font-size:16px;
	}

	@media (max-width:767px) {
		table.measures td:nth-child(2) {
			border-top:2px solid #808080;
		}
	}
}
