div.creating {
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:10000;
}

div.creating div {
	position:fixed;
	top:50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	width:300px;
	height:100px;
	padding:25px;
	border:3px solid #206090;
	background-color:#ffffff;
	box-shadow:#181818 10px 10px 20px;
	border-radius:10px;
}

div.qrcode img {
	float:right;
}
