p.description {
	white-space:pre-wrap;
	line-height:1.7;
}

span.field {
	font-weight:bold;
	padding-right:5px;
}

textarea.risk {
	height:330px;
}

textarea.cause,
textarea.effect {
	height:150px;
}

span.mitigated {
	padding:3px 7px;
	border-radius:5px;
}

div.collapsed {
	display:none;
}

ul.identifiers {
	display:none;
}

@media (min-width:768px) {
	table.risks {
		table-layout:fixed;
	}

	table.risks td {
		white-space:nowrap;
	}

	table.risks th:nth-child(1) {
		width:70px;
	}

	table.risks th:nth-child(2) {
		width:150px;
	}

	table.risks th:nth-child(4) {
		width:150px;
	}

	table.risks th:nth-child(5) {
		width:100px;
	}

	table.risks th:nth-child(6) {
		width:150px;
		display:none;
	}

	table.risks td:nth-child(6) {
		display:none;
	}

	table.risks th:nth-child(7) {
		width:150px;
	}

	table.risks th:nth-child(8) {
		width:100px;
	}

	p.description {
		column-gap:50px;
		column-rule:1px solid #c0c0c0;
		column-count:2;
	}

	div.search {
		max-width:300px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	table.risks th:nth-child(2),
	table.risks td:nth-child(2),
	table.risks th:nth-child(5),
	table.risks td:nth-child(5) {
		display:none;
	}
}

table.risks div.levelbox {
	width:20px;
	height:20px;
	border-radius:3px;
	float:left;
}

table.risks div.levelbox:first-child {
	margin-right:5px;
}

table.risks td {
	overflow:hidden;
	text-overflow:ellipsis;
}

@media (max-width:767px) {
	table.risks tfoot td:nth-child(-n+7) {
		display:none;
	}
}

div.identifier {
	float:right;
	margin-left:25px;
}

div.identifier-select div {
	margin-bottom:10px;
}

/* Filter
 */
div.tag_category span {
	margin-right:10px;
}

div.tag_category input {
	margin-right:3px;
}

/* Matrix
 */
table.matrix {
	float:right;
	max-width:100%;
}

table.matrix td {
	text-align:center;
	padding:0 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	position:relative;
}

table.matrix td span {
	position:relative;
	z-index:1;
}

table.matrix td.horizontal {
	font-weight:bold;
	padding-bottom:10px;
}

table.matrix td.vertical div {
	transform:rotate(270deg);
	font-weight:bold;
}

table.matrix td.cell {
	width:100px;
	height:40px;
	border:2px solid #ffffff;
}

table.matrix td[marked='marked'] {
	font-size:20px;
}

div.background-hack {
	display:none;
	border-width:100px;
	border-style:solid;
	position:absolute;
	top:0;
	left:0;
}

th.impact {
	text-align:center;
}

@media (max-width:767px) {
	table.matrix {
		transform:scale(0.75);
		transform-origin:right;
	}
}

/* Acceptance
 */
form.acceptance {
	max-width:500px;
	float:right;
}

/* Tags
 */
div.tags input {
	margin-right:5px;
}

div.tag_category {
	margin-top:10px;
}

div.tag_category div.title {
	font-weight:bold;
	display:inline-block;
}

div.tag_category div.label {
	display:inline-block;
}

@media (max-width:767px) {
	div.padding {
		display:none;
	}
}

/* Causes and effects lists
 */
li.list-group-item div.title {
	cursor:pointer;
}

li.list-group-item div.title span {
	font-weight:bold;
	margin-right:5px;
}
li.list-group-item div.title span:nth-child(2):after {
	content:"|";
	margin-left:5px;
	color:#ff8000;
}
li.list-group-item span.glyphicon {
	float:right;
	color:#808080;
	margin-left:5px;
}

li.list-group-item div.description {
	margin-top:15px;
	padding-left:15px;
}

li.list-group-item div.collapsed {
	display:none;
}

li.list-group-item div.description > div:first-child {
	white-space:pre-wrap;
}

/* Print
 */
@media print {
	div.panel-primary div.panel-heading {
		font-size:20px;
	}

	div.panel-primary {
		page-break-after:always;
	}

	div.panel-default div.panel-heading {
		font-size:15px;
	}

	div.background-hack {
		display:block;
	}

	li.list-group-item div.description {
		margin-top:5px;
	}

	li.list-group-item div.collapsed {
		display:block;
	}

	table.risks th:first-child,
	table.risks td:first-child {
		display:none;
	}

	@media (min-width:768px) {
		table.risks th:nth-child(6),
		table.risks td:nth-child(6) {
			display:table-cell;
		}
	}

	@media (max-width:767px) {
		table.risks td:nth-child(2) {
			border-top:2px solid #808080;
		}
	}

	table.matrix {
		transform:scale(0.9);
		transform-origin:right;
	}

	table.matrix td.cell {
		height:30px;
	}

	div.details p {
		float:left;
		width:33%;
	}

	div.noprint {
		display:none;
	}

	div.collapsed {
		display:block;
	}
}
