div.filter {
	margin-top:-45px;
}

div.well {
	display:none;
}

@media (max-width:991px) {
	div.padding {
		display:none;
	}
}

table.list thead th:nth-child(n+2),
table.list tbody td:nth-child(n+2) {
	text-align:right;
	width:50px;
}

li.active span {
	font-weight:bold;
}
li.active span:after {
	content:"|";
	margin-left:10px;
	margin-right:10px;
}

/* Print
 */
@media print {
	div.filter {
		display:none;
	}
}
