table.matrix td.horizontal {
	text-align:center;
	font-weight:bold;
	padding-bottom:10px;
}

table.matrix td.vertical {
	text-align:center;
	transform:rotate(270deg);
	font-weight:bold;
	padding-right:30px;
}

table.matrix td {
	padding:1px 3px;
}
