span.generate {
	margin-left:10px;
}

input#username {
	text-transform:lowercase;
}

input[type=checkbox] {
	margin-right:5px;
}

div.input-group span.input-group-btn input[type="button"] {
	padding:6px 15px;
}

span.info {
	cursor:pointer;
	color:#ff8000;
	font-weight:bold;
}

div#as_dialog {
	display:none;
}

div.qrcode img {
	float:right;
}

@media (max-width:639px) {
	table.table th:nth-child(4),
	table.table td:nth-child(4) {
		display:none;
	}
}


@media (max-width:767px) {
	table.table th:nth-child(2),
	table.table td:nth-child(2),
	table.table th:nth-child(n+5),
	table.table td:nth-child(n+5) {
		display:none;
	}
}

@media (min-width:768px) {
	form.search {
		float:right;
		margin-top:-45px;
		margin-right:150px;
	}
}
