div.row h2 {
	margin:0;
	display:inline-block;
}

div.row div.col-sm-8 {
	text-align:right;
}

div.row div.btn-group {
	margin:5px 0 5px 0;
}

table.month {
	width:100%;
	border-spacing:0px;
	margin-top:10px;
	margin-bottom:15px;
	table-layout:fixed;
}

table.month tbody {
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
}

table.month thead th {
	border-bottom:1px solid #c0c0c0;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	padding-bottom:7px;
}

table.month tr.week {
	height:70px;
}

table.month td.day {
	width:14%;
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	vertical-align:top;
	padding:0px 3px;
	overflow:hidden;
}

table.month td.day img.check {
	width:15px;
	height:15px;
	position:relative;
	top:-1px;
	margin-right:2px;
}

table.month td.day div.nr {
	margin-bottom:0;
	text-align:right;
	margin:5px 5px 0 0;
}

table.month td.dow6, table.month td.dow7 {
	background-color:#f0f0f0;
}

table.month td.today {
	background-color:#ffe0a0;
}

table.month td div.measure {
	padding-left:15px;
	text-indent:-15px;
	margin-bottom:5px;
}

table.month td div.measure:last-child {
	margin-bottom:0;
}
