@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-200.woff);
	font-weight:200;
}

@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-400.woff);
	font-weight:400;
}

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	font-family:Raleway,Arial;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:22px;
	margin-bottom:5px;
}
h2:before {
	content:">";
	margin-right:5px;
	color:#ff8000;
	font-weight:bold;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

img.attention {
	width:15px;
	height:15px;
	margin-left:10px;
}

span.lowercase {
	text-transform:lowercase;
}

/* Header
 */
div.header {
	background-image:url(/images/layout/site_header.jpg);
	background-position:center;
	background-size:cover;
}

div.header div.container {
	height:125px;
	padding-top:7px;
}

div.header div.container div.title {
	text-align:center;
	color:#ffffff;
	font-size:60px;
	font-weight:200;
	margin-top:15px;
	text-shadow:
		2px 2px 2px #202020,
		-2px -2px 2px #202020,
		2px -2px 2px #202020,
		-2px 2px 2px #202020;
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

/* Content
 */
div.content div.container {
	padding-top:25px;
	padding-bottom:75px;
	position:relative;
}

/* Footer
 */
div.footer {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0e0;
	padding-top:15px;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

div.footer form.language-selector {
	display:inline-block;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.header div.container {
		height:100px;
	}
	div.header div.container div.title {
		font-size:40px;
	}

	div.content div.container {
		padding-bottom:180px;
	}

	div.footer {
		height:180px;
	}
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}

/* Print
 */
@media print {
	div.alert,
	div.header,
	div.btn-group,
	span.glyphicon,
	img.attention,
	button.help,
	a.btn,
	ul.pagination,
	div.footer {
		display:none;
	}

	h1 {
		font-size:20px;
		height:35px;
	}
	h1:after {
		font-size:20px;
		content:"Risk Register";
		float:right;
	}

	a:after {
		display:none;
	}

	div.content {
		font-size:11px;
	}
}
