body {
	background:url(/images/layout/cms_background.png) repeat-x left top;
}

body > div.container {
	max-width:950px;
	padding:0;
}

h1 {
	margin-top:0;
	font-size:26px;
}

h2 {
	font-size:20px;
	color:#ff7900;
}

h3 {
	font-size:17px;
}

span.lowercase {
	text-transform:lowercase;
}

/* Header
 */
div.header {
	min-height:70px;
	background-color:#ffffff;
	border-left:1px solid #404145;
	border-right:1px solid #404145;
}

div.header div.title {
	padding:20px 0 0 30px;
	letter-spacing:-1px;
	font-size:26px;
	color:#ff7900;
}

div.header div.title span {
	font-size:12px;
}

@media (max-width:479px) {
	div.header div.title {
		font-size:20px;
	}
}

/* Menu
 */
nav.navbar {
	margin-bottom:0;
	border-radius:0;
	background-image:linear-gradient(#404040, #808080);
	border-left:1px solid #404145;
	border-right:1px solid #404145;
	border-bottom:3px solid #fc7700;
	min-height:46px;
}

@media (min-width:768px) {
	nav.navbar ul.nav {
		float:right;
	}
}

nav.navbar div.container {
	max-width:950px;
}

nav.navbar div.navbar-header a.navbar-brand {
	color:#ffffff;
}

nav.navbar ul.nav li a {
	color:#ffffff;
	padding:12px 20px 12px 20px;
}

nav.navbar-default ul.nav li a:hover {
	background-color:#ff7900;
	color:#ffffff;
}

nav.navbar div.navbar-header button.navbar-toggle {
	background-color:#404040;
}

nav.navbar div.navbar-header button.navbar-toggle span.icon-bar {
	background-color:#d0d0d0;
}

.btn-file {
	position:relative;
	overflow:hidden;
}

/* Content
 */
div.content {
	padding:30px;
	min-height:300px;
	background-color:#ffffff;
	border-left:1px solid #404145;
	border-right:1px solid #404145;
	position:relative;
	overflow:hidden;
}

@media (max-width:767px) {
	div.content {
		padding:30px 20px;
	}
}

ul.pagination {
	margin-top:15px;
	margin-bottom:0;
}

/* Footer
 */
div.footer {
	padding:15px 0;
	background:#444444;
	color:#c0c0c0;
	font-size:10px;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom:30px;
}

div.footer span {
	display:inline-block;
	white-space:nowrap;
}

div.footer span:before {
	content:"-";
	margin:0 7px;
}

div.footer span:first-child:before {
	content:"";
	margin:0;
}

div.footer a {
	color:#f0f0f0;
	border:0;
}

@media (max-width:767px) {
	div.footer span {
		margin:5px 15px;
	}
	div.footer span:before {
		content:none;
	}
}
