@media (min-width:768px) {
	div.header div.container {
		height:250px;
	}

	div.header div.container div.title {
		margin-top:40px;
		font-size:80px;
	}
}

div h2:first-child {
	margin-top:0;
}

form {
	margin-bottom:15px;
}

input#username {
	text-transform:lowercase;
}

@media (min-width:768px) {
	form {
		max-width:500px;
	}
}
